<%- include('partials/header', { title }) %>
<body class="bg-gray-100 text-gray-900">
    
    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-4xl text-center font-bold">Stock Tracker</h1>
    </header>

    <main class="p-6">
        <p class="text-lg text-center">Testing Testing!</p>
    </main>

    <%- include('./partials/footer') %>
</body>