<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %> | TradeTicker
    </title>

    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/favicon/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" href="/img/favicon/android-chrome-512x512.png" sizes="512x512" />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/css/lib/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="min-h-screen bg-gray-50 flex flex-col">
    <% if (typeof nav === 'undefined' || nav) { %>
    <%- include('components/nav') %>
    <% } %>

    <main class="flex-grow">
        <%- include(`templates/${view}`) %>
    </main>

    <% if (typeof footer === 'undefined' || footer) { %>
    <%- include('components/footer') %>
    <% } %>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/chart.umd.min.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
</body>

</html>