<div class="mb-6">
    <h2 id="auth-form-title" class="text-lg font-bold text-gray-900">Welcome Back!</h2>
    <div id="auth-form-alert" class="hidden bg-red-50 border-l-4 border-red-500 p-4 mt-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-500 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
        </svg>

        <p class="text-sm font-medium text-red-700" id="auth-alert-message">You Must be Logged-In to Do That!</p>
    </div>
    <p id="auth-form-error" class="text-sm text-red-500"></p>
</div>
<form action="/auth/login" method="POST" class="mt-6 <%= type === 'login' ? '' : 'hidden' %>" id="login-form">
    <div class="mb-4">
        <label for="login-username" class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" id="login-username" name="username" class="mt-1 w-full p-2 rounded-md shadow-sm focus:outline-none" placeholder="john_doe" />
        <p id="login-username-error" class="mt-1 text-sm text-red-500"></p>
    </div>
    <div class="mb-4">
        <label for="login-password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" id="login-password" name="password" class="mt-1 w-full p-2 rounded-md shadow-sm focus:outline-none" placeholder="••••••••" />
        <p id="login-password-error" class="mt-1 text-sm text-red-500"></p>
    </div>
    <div class="flex items-center justify-between mt-6">
        <button disabled type="submit" class="h-captcha w-full rounded-md bg-blue-600 py-2 px-4 text-white font-bold hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Login
        </button>
    </div>
    <p class="mt-2 text-sm text-center text-gray-600">
        No Account?
        <a href="#" class="auth-form-toggle text-blue-600 hover:underline">Register Here!</a>
    </p>
</form>
<form action="/auth/register" method="POST" class="mt-6 <%= type === 'register' ? '' : 'hidden' %>" id="register-form">
    <div class="mb-4">
        <label for="register-username" class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" id="register-username" name="username" class="mt-1 w-full p-2 rounded-md shadow-sm focus:outline-none" placeholder="john_doe" />
        <p id="register-username-error" class="mt-1 text-sm text-red-500"></p>
    </div>
    <div class="mb-4">
        <label for="register-password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" id="register-password" name="password" class="mt-1 w-full p-2 rounded-md shadow-sm focus:outline-none" placeholder="••••••••" />
        <p id="register-password-error" class="mt-1 text-sm text-red-500"></p>
    </div>
    <div class="mb-4">
        <label for="register-confirm-password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
        <input type="password" id="register-confirm-password" name="confirmedPassword" class="mt-1 w-full p-2 rounded-md shadow-sm focus:outline-none" placeholder="••••••••" />
        <p id="register-confirm-password-error" class="mt-1 text-sm text-red-500"></p>
    </div>
    <div class="flex items-center justify-between mt-6">
        <button disabled type="submit" class="h-captcha w-full rounded-md bg-blue-600 py-2 px-4 text-white font-bold hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Register
        </button>
    </div>
    <p class="mt-2 text-sm text-center text-gray-600">
        Already Have an Account?
        <a href="#" class="auth-form-toggle text-blue-600 hover:underline">Login Here!</a>
    </p>
</form>